


-# .posts
-#  .posts__box
-#   .posts__box__icon
-#   .posts__box__name
-#   .posts__box__movie
-#   .popts__box__comment
-#  .posts__box1
-#   .posts__box1__icon
-#   .posts__box1__name
-#   .posts__box1__movie
-#   .popts__box1__comment
-#  .posts__box2
-#   .posts__box2__icon
-#   .posts__box2__name
-#   .posts__box2__movie
-#   .popts__box2__comment



.footer
 = render "layouts/shared/footer"
