.header
 = render "layouts/shared/header"

.movie
 - @movie.each do |movie|
  .movie__box
   .movie__box__mi1
    = image_tag movie.image.to_s
   .movie__box__name
    = link_to movie_path(movie.id),class: "link" do
     =movie.name

.footer
 = render "layouts/shared/footer"