@import url(https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap);

// 当初のiphone型のデザイン用のscss
.posts{
  // background-image: url("https://i.ytimg.com/vi/YGnEl88H-PY/maxresdefault.jpg");
  background-color: white;
  background-size: cover;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &__box{
    display: inline-block;
    width: 90%;
    width: 300px;
    height: calc(100vh - 200px);
    margin-left: 50px;
    margin-top: 120px;
    margin-bottom: 100px;
    color: white;
    background-color: black;
    border-radius: 50px;
    text-align: center;
    position: relative;
    &__user{
      position: absolute;
      right: 40%;
      bottom: 0;
      height:50px;
      width: 50px;
      border-radius:50%;
      line-height:50px;
      text-align:center;
      background-color: yellow;
      color: black; 
      margin-bottom: 10px;
    }
    &__name{
      font-size: 20px;
    }
    &__comment{
      width: 100%;
      position: absolute;
      bottom: 60px;
      text-align: center;
    }
    &__image{
      margin-left: 20px;
      margin-right: 20px;
      overflow: scroll;
    height: calc(100vh - 320px);
    }
  }
}

.submit{
  width: 100px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  margin-bottom: 70px;
}


.movie-icon{
  cursor: pointer;
  font-size:1.5em;
}
.hidden{
  display: none;
}
//     &__form{
//       height: 100px;
//       background-color: yellow;
//     }
//   }
//   &__box1{
//     height: 400px;
//     width: 300px;
//     background-color: white;
//     margin-right: 20px;
//     margin-top: 80px;
//   }
//   &__box2{
//     height: 400px;
//     width: 300px;
//     background-color: white;
//     margin-top: 80px;
//   }
// }