@import url(https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap);

body{
  overflow: scroll;
}


.movie{
  width: 1200px;
  display:flex;
  flex-wrap:wrap;
  margin: 0 auto;
  height: 500px;
  animation-name: fadein;
  animation-duration: 3s;
  &__box{
    margin-right: 30px;
&__mi1{
  // flex:1 1 170px;
  text-align: center;
  width:200px;
  height:200px;
  margin-top:120px;
  background-color:black;
  border-radius: 50%;
  overflow:hidden;
  transition: .5s ;
  // transform: rotateY( 0deg ) ;
  // position: sticky;
  margin-bottom: 15px;

  
}
&__mi1:hover{
  transform: rotateY( 360deg ) ;
  transition: s ease-in-out;
}
  &__name{
    text-align: center;
    right: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
  }
}
}

.link{
  color: black;
  text-align: center;
  right: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold; 
}

.footer{
}

@keyframes fadein {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}  