.header__menu__register 
 =link_to new_user_registration_path, class:"header__menu__register__btn" do
  Register
.header__menu__login 
 =link_to new_user_session_path, class:"header__menu__login__btn" do
  Log in